@import 'tailwindcss';

@layer base {
	:root {
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

:root {
	--palette-primary: #d62828;
	--palette-accent: #003049;
	--palette-white: #ffffff;
	--palette-black: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--palette-accent: #007ea7;
		--palette-white: #000000;
		--palette-black: #ffffff;
	}
}

body {
	box-sizing: border-box;
	background-color: var(--palette-white);
	color: var(--palette-black);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

header,
section,
footer {
	padding: 1rem;
}

section:not(:last-child) {
	border-color: var(--palette-black);
}

a {
	text-decoration: none;
	color: var(--palette-primary);
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.button {
	cursor: pointer;
	background-color: var(--palette-primary);
	color: var(--palette-white);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	border: 1px solid var(--palette-primary);
	transition: background-color 0.3s ease, color 0.3s ease;
	&:hover,
	&:focus {
		background-color: var(--palette-accent);
		color: #ffffff;
		text-decoration: none;
	}
}

/* Primary */
.bg-primary {
	background-color: var(--palette-primary);
}

.border-primary {
	border-color: var(--palette-primary);
}

.text-primary {
	color: var(--palette-primary);
}

.hover\:bg-primary {
	&:hover,
	&:focus {
		background-color: var(--palette-primary);
	}
}

.hover\:border-primary {
	&:hover,
	&:focus {
		border-color: var(--palette-primary);
	}
}

.hover\:text-primary {
	&:hover,
	&:focus {
		color: var(--palette-primary);
	}
}

/* Accent */
.bg-accent {
	background-color: var(--palette-accent);
}

.border-accent {
	border-color: var(--palette-accent);
}

.text-accent {
	color: var(--palette-accent);
}

.hover\:bg-accent {
	&:hover,
	&:focus {
		background-color: var(--palette-accent);
	}
}

.hover\:border-accent {
	&:hover,
	&:focus {
		border-color: var(--palette-accent);
	}
}

.hover\:text-accent {
	&:hover,
	&:focus {
		color: var(--palette-accent);
	}
}

/* White */
.bg-white {
	background-color: var(--palette-white);
}

.border-white {
	border-color: var(--palette-white);
}

.text-white {
	color: var(--palette-white);
}

/* Black */
.bg-black {
	background-color: var(--palette-black);
}

.border-black {
	border-color: var(--palette-black);
}

.text-black {
	color: var(--palette-black);
}

main > section {
	max-width: 80rem;
	margin: 0 auto;
}

/* Expandable Section */
.expandable-content {
	grid-template-rows: 0fr;
}

.expandable-content[data-expanded='true'] {
	grid-template-rows: 1fr;
}
